.. _{{ quickstart_ref }}:

ZedBoard Quick Start
================================================================================


.. image:: ../../images/ZedBoard.png
   :align: center
   :width: 600


.. esd-warning::


This guide provides step by step instructions on how to set up the
:adi:`{{ eval_board }}` on:

- `ZedBoard <https://digilent.com/reference/programmable-logic/zedboard/start>`__
  The supported revision is C or higher.

{% if has_lvds_support %}
LVDS Support
--------------------------------------------------------------------------------

According to the
`7 Series SelectIO guide <https://docs.amd.com/v/u/en-US/ug471_7Series_SelectIO>`__
section 'LVDS and LVDS_25' and Table 1-43, the LVDS I/O standard (VADJ 1.8V) is
not supported on High Range banks.

Since the evaluation board can only operate with **VADJ set to 1.8V** and the
FMC connector on the ZedBoard is mapped to HR banks, the **LVDS interface is not
supported**. Only CMOS operation is possible.
{% endif %}

{% if has_linux %}
Using Linux as software
-------------------------------------------------------------------------------
Necessary files
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.. note::

  The SD card includes several folders in the root directory of the BOOT
  partition. In order to configure the SD card to work with a specific FPGA
  board and ADI hardware, several files must be copied onto the root directory.
  Using the host PC, drag and drop the required files onto the BOOT partition,
  and use the EJECT function when removing the SD card from the reader.

The following files are needed for the system to boot:

  - HDL boot image:  ``BOOT.bin``
  - Linux Kernel image: ``uImage``
  - Linux device tree: ``devicetree.dtb``

They can either be taken from the SD card -- already generated by us, or you
can build them manually:

  - Instructions on how to choose the boot files from the SD card can be
    found in the **Platform-Specific Manual Steps** section from here
    :external+kuiper:ref:`hardware-configuration`.
  - Instructions on how to manually build the boot files from source can be
    found here:

    - :ref:`linux-kernel zynq`
    - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation. More HDL build
      details at :external+hdl:ref:`build_hdl`.

.. important::

   Some projects provide multiple devicetree files in the SD card's boot
   folders. Make sure you select the devicetree that matches your specific
   use case.

Required Software
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

- SD Card 16GB imaged with :external+kuiper:doc:`Kuiper <index>`
- A UART terminal (Putty/Tera Term/Minicom, etc.) with baud rate 115200 (8N1)


Required Hardware
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

- `ZedBoard <https://digilent.com/reference/programmable-logic/zedboard/start>`__
  Rev C or later
- :adi:`{{ eval_board }}` FMC board
- SD card with at least 16GB of memory
- Micro-USB cable
- Ethernet cable
{% if linux_additional_hardware is defined and linux_additional_hardware %}
{% for item in linux_additional_hardware %}
- {{ item }}
{% endfor %}
{% endif %}

More details as to why you need these, can be found at
:ref:`{{ prerequisites_ref }}`.


Testing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Creating the setup
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
{% if quickstart_image is defined and quickstart_image %}

.. image:: {{ quickstart_image }}
   :align: center
   :width: 600

{% endif %}

{% if linux_has_loopback is defined and linux_has_loopback %}
.. note::
  This setup is made by creating a physical loopback between the RX and the TX
  channel.
{% endif %}

.. esd-warning::
{% if has_vadj_warning %}
.. warning::

   Before executing below steps, **VADJ must be set to 1.8V**.
   This can be done by changing VADJ jumper (JP18) from default (2V5) to
   1V8.

{% endif %}
{% if has_vadj_led %}
On the evaluation board, there is a red LED close to the FMC connector. This LED
indicates if VADJ voltage exceeded 2.0V. If the LED does not turn off after a
few seconds after boot, VADJ is exceeding the recommended level, decreasing
board lifetime and potentially causing permanent damage to the IC.

{% if vadj_led_image is defined and vadj_led_image %}

.. image:: {{ vadj_led_image }}
   :align: center
   :width: 200

{% endif %}
{% endif %}

{% if linux_setup_steps_file is defined and linux_setup_steps_file %}
.. include:: {{ linux_setup_steps_file }}
{% endif %}

.. note::

   *USB-OTG* feature: To use USB peripheral devices with ZedBoard, install
   jumpers JP2 and JP3.

.. seealso::
   For more detailed information on ZedBoard jumper settings, check the
   *ZedBoard Hardware User Guide* (chapter "Configuration modes")
   `here <https://digilent.com/reference/_media/zedboard/zedboard_ug.pdf>`__.

Boot messages
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

The following is what is printed in the serial console, after you have
connected to the proper ttyUSB or COM port:

{% if boot_log_file is defined and boot_log_file %}
.. collapsible:: Complete boot log

   .. include:: {{ boot_log_file }}
{% endif %}



Useful commands for the serial terminal
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

The below commands are to be run in the serial terminal connected to the FPGA.

To find out the IP of the FPGA board, run the following command and take the
IP specified at "eth0 inet":

.. shell::

   $ifconfig

To see the IIO devices detected, run:

.. shell::

   $iio_info | grep iio:device

{% if has_jesd %}

To use the :dokuwiki:`JESD204 status utility <resources/tools-software/linux-software/jesd_status>`,
run:

.. shell::

   $jesd_status

Additionally, if running ``stty rows 30`` before running ``jesd_status``, you
can expand the visible area of it and see more than 4 lanes.
{% endif %}

To power off the system, run the following command, and wait for the final
message to be printed, then power off the FPGA board from the switch as well.

.. shell::

   $poweroff

To reboot the system, run:

.. shell::

   $reboot

.. important::

   Even thought this is Linux, this is a persistent file systems. Care should
   be taken not to corrupt the file system -- please shut down things, don't
   just turn off the power switch. Depending on your monitor, the standard
   power off could be hiding. You can do this from the terminal as well with
   :code:`sudo shutdown -h now` or the above-mentioned command for powering off.

{% endif %}

{% if has_no_os %}
Using no-OS as software
-------------------------------------------------------------------------------

Necessary files
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

The following files are needed for the system to boot:

- HDL boot file: ``system_top.xsa``
- no-OS project: :git-no-os:`{{ no_os_project_path }}`

Instructions on how to build the boot files from source can be found below:

- :external+no-OS:doc:`{{ no_os_project_specific_doc }}`. More no-OS build
  details at :external+no-OS:doc:`build_guide`.

- :external+hdl:ref:`{{ hdl_project_doc }}`. More HDL build details at
  :external+hdl:ref:`build_hdl`.

Required software
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

- AMD Xilinx Vivado and Vitis (downloading Vitis from
  `here <https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/vitis.html>`_
  will include Vivado as well)
- An UART terminal (Putty/Tera Term/Minicom, etc.), Baud rate 115200 (8N1)

Required hardware
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

- `ZedBoard <https://digilent.com/reference/programmable-logic/zedboard/start>`__
  Rev C or later
- :adi:`{{ eval_board }}` FMC evaluation board
- 2x Micro-USB cables, one for UART and one for JTAG
{% if no_os_additional_hardware is defined and no_os_additional_hardware %}
{% for item in no_os_additional_hardware %}
- {{ item }}
{% endfor %}
{% endif %}

More details as to why you need these, can be found at
:ref:`{{ prerequisites_ref }}`.

Testing
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Creating the setup
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

{% if no_os_setup_image is defined and no_os_setup_image %}
.. image:: {{ no_os_setup_image }}
   :width: 900
{% endif %}

.. esd-warning::

{% if no_os_has_loopback is defined and no_os_has_loopback %}
.. note::
  This setup is made by creating a physical loopback between the RX and the TX
  channel.
{% endif %}

{% if has_vadj_warning %}
.. warning::

   Before executing below steps, **VADJ must be set to 1.8V**.
   This can be done by changing VADJ jumper (JP18) from default (2V5) to
   1V8.

{% endif %}
{% if has_vadj_led %}
On the evaluation board, there is a red LED close to the FMC connector. This LED
indicates if VADJ voltage exceeded 2.0V. If the LED does not turn off after a
few seconds after boot, VADJ is exceeding the recommended level, decreasing
board lifetime and potentially causing permanent damage to the IC.

{% if vadj_led_image is defined and vadj_led_image %}

.. image:: {{ vadj_led_image }}
   :align: center
   :width: 200

{% endif %}
{% endif %}


{% if no_os_setup_steps_file is defined and no_os_setup_steps_file %}
.. include:: {{ no_os_setup_steps_file }}
{% endif %}

.. seealso::
   For more detailed information on ZedBoard jumper settings, check the
   *ZedBoard Hardware User Guide* (chapter "Configuration modes")
   `here <https://digilent.com/reference/_media/zedboard/zedboard_ug.pdf>`__.


Console output
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

The following is what is printed in the serial console, after you have
connected to the proper ttyUSB or COM port:

.. Replace here the complete boot log from the setup
{% if no_os_console_output_file is defined and no_os_console_output_file %}
.. collapsible:: Complete boot log

   .. include:: {{ no_os_console_output_file }}
{% endif %}
{% endif %}
